h1[data-v-720ae91a],h2[data-v-720ae91a]{font-weight:400}ul[data-v-720ae91a]{list-style-type:none;padding:0}li[data-v-720ae91a]{display:inline-block;margin:0 10px}a[data-v-720ae91a]{color:#42b983}textarea[data-v-720ae91a]{width:600px;height:50px}
/*# sourceMappingURL=app.ff8e09580854c1bc4237a91604bdba34.css.map */