<template>
  
    <form class="form-horizontal">
        <div class="form-group">
            <div>
                <h1>XspeedIt</h1>
                <input type="text" v-model="chain" placeholder="163841689525773" autofocus/>
                <button v-on:click.prevent="executeSend">Send</button>
                <br/>
                <br/>
                <textarea>{{ result }}</textarea>
            </div>
        </div>
    </form>
</template>

<script>
      import axios from "axios";
  
      export default {
          name: 'XspeedIt',
          data () {
              return {
                  chain: "",
                  result: "",
                  boxes: ""
              }
          },

          methods: { 

            executeSend : function(event) {
                this.result = ""; // clean the textarea before new send
                axios.get('http://localhost:9090/api/boxes/'+this.chain)
                .then(response => {
                    console.log(response.data.length);
                    response.data.forEach(element => {
                        this.result += element +"/";
                    });
                    this.result += " => " + response.data.length + " boxes"
                })
                .catch(e => {
                    console.error(e)
                })
            }
          }
      }
</script>
  
  <style scoped>
      h1, h2 {
          font-weight: normal;
      }
  
      ul {
          list-style-type: none;
          padding: 0;
      }
  
      li {
          display: inline-block;
          margin: 0 10px;
      }
  
      a {
          color: #42b983;
      }
  
      textarea {
          width: 600px;
          height: 50px;
      }
  </style>